img {
  display: block;
  float: right;
  height: auto;
  width: 25%;
  

}

.section {
  margin: auto;
  width: 50%;
  border: 2px solid gray;
  background-color: lightgray;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}